<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments :: header(title='Alle Slides')"></div>
</head>
<body>
    <!-- Navigation-->
    <nav th:replace="fragments :: navbar(orgName=${orgName}, active='hej')"></nav>

    <div>
        <section th:replace="fragments :: section"></section>
        <section th:replace="fragments :: section"></section>
        <section th:replace="fragments :: section"></section>

    </div>

    <!-- Footer-->
    <footer class="py-5 bg-black">
        <div class="container"><p class="m-0 text-center text-white small">Copyright &copy; Your Website 2021</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <!-- <script src="../js/jquery.js"></script> --> <!-- ! åben direkte -->
    <!-- <script src="../js/jsdelivr.js"></script> --> <!-- ! åben direkte -->


    <!-- <script src="jquery.js"></script> --> <!-- ! på localhost -->
    <!-- <script src="jsdelivr.js"></script> -->  <!-- ! på localhost -->

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
